<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOGIN </title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'cssfolder/login.css' %}">
</head>
<body>
  {% block content %}
  <script src="{% static 'jsfolder/login.js' %}"> </script>
  <div id="container">
   <form action="insert" onsubmit="return(validate())" autocomplete="off">
    <div class="input-group">
      <label for="userid">userid</label>
      <input type="text" name="userid" id="userid" >
      <div class="error"></div>
    </div>
    <div class="input-group">
      <label for="password">password</label>
      <input type="password" name="password" id="password">
      <div class="error"></div>

    </div>
    <div><input type="submit" value="submit"></div>
   </form>
  </div>
  {% endblock %}
  
</body>
</html>